<!-- FILEPATH: /home/codecubes/Bureau/ICARE/Website/frontend/pages/main.html -->
<!-- BEGIN: abpxx6d04wxr -->
<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/basics.css" />

  </head>
  <body style="overflow-y: hidden">
    <header class="d-flex text-bg-dark" style="height: 10vh">
      <div class="container-fluid">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/main"
            class="d-flex align-items-center mb-2 mb-lg-0 py-sm-2 text-dark text-decoration-none col-lg-1 col-sm-3 g-0"
          >
            <img src="../images/logo2.png" alt="logo" style="height: 7vh" />
          </a>
          <div class="d-flex col-12 col-lg-10 col-xl-10 col-sm-7">
            <div class="d-flex col-lg-2 col-xl-2 col-sm-3 justify-content-evenly">
              <a href="/mas" class="btn btn-dark font fs-5 me-2">MAS</a>
              <a class="btn btn-dark font fs-5 me-2">MHC</a>
            </div>
            <div class="d-flex col-lg-2 col-xl-2 col-sm-3 justify-content-evenly">
              <a class="btn btn-dark font fs-5 me-2">MGC</a>
              <a class="btn btn-dark font fs-5 me-2">MRS</a>
            </div>
            <div class="d-flex col-lg-2 col-xl-2 col-sm-2 justify-content-evenly">
              <a class="btn btn-dark font fs-5 me-2">MTW</a>
            </div>
          </div>
          <div class="d-flex col-lg-1 d-lg-flex d-sm-none justify-content-end">
            <button onclick="location.href='/logout'" type="button" class="btn btn-dark font">Log-out</button>
          </div>
          <div class="d-flex d-lg-none col-sm-2 justify-content-end">
            <button onclick="location.href='/logout'" type="button" class="btn btn-dark font fs-2">
              Log-out
            </button>
          </div>
        </div>
      </div>
    </header>
    <div
      class="fond justify-content-center d-flex"
      style="height: calc(100vh - 94px)"
    >

      <div class ="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 my-5">
        <div class="card bg-dark text-white">
          <div class="card-body p-2 ">
            <div class="main text-center fs-2">
              <p class="mb-0"> <%- data %> : Welcome to I.C.A.R.E </p>
            </div>
          </div>
        </div>
        
    </div>
    <!-- <script>
      var data = <%- JSON.stringify(data) %>;
    </script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<!-- END: abpxx6d04wxr -->
