<!DOCTYPE html>
<html>
  <head>
    <title>MAS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="/styles/mas.css" />
    <link rel="stylesheet" href="/styles/basics.css" />
  </head>
  <body>
    <header class="d-flex text-bg-dark" style="height: 10vh">
      <div class="container-fluid">
        <div
          class="d-flex flex-wrap align-items-center justify-content-start justify-content-lg-start"
        >
          <a
            href="/main"
            class="d-flex align-items-center mb-2 mb-lg-0 py-sm-2 text-dark text-decoration-none col-lg-1 col-sm-3 g-0"
          >
            <img src="../images/logo2.png" alt="logo" style="height: 7vh" />
          </a>
          <div class="d-flex col-12 col-lg-10 col-xl-10 col-sm-7">
            <div
              class="d-flex col-lg-2 col-xl-2 col-sm-3 justify-content-evenly"
            >
              <a class="btn btn-dark font fs-5 me-2">MHC</a>
              <a class="btn btn-dark font fs-5 me-2">MGC</a>
            </div>
            <div
              class="d-flex col-lg-2 col-xl-2 col-sm-3 justify-content-evenly"
            >
              <a class="btn btn-dark font fs-5 me-2">MRS</a>
              <a class="btn btn-dark font fs-5 me-2">MTW</a>
            </div>
          </div>
          <div class="d-flex col-lg-1 d-lg-flex d-sm-none justify-content-end">
            <button
              type="button"
              class="btn btn-dark font"
              onclick="location.href='/mas/add'"
            >
              Add
            </button>
            <button type="button" onclick="location.href='/logout'" class="btn btn-dark font"><img src="../images/deconnexion.png"></button>
          </div>
          <div class="d-flex d-lg-none col-sm-2 justify-content-end">
            <button
              type="button"
              class="btn btn-dark font fs-2"
              onclick="location.href='/mas/add'"
            >
              Add
            </button>
            <button type="button" onclick="location.href='/logout'" class="btn btn-dark font fs-2">
              <img src="../images/deconnexion.png">
            </button>
          </div>
        </div>
      </div>
    </header>
    <div class="justify-content-start d-flex fond">
      <div class="d-flex flex-column">
        <div class="not_up_to_date row justify-content-start mx-2 mb-2">
          <div class="col-12">
            <h1 class="text-center text-white mt-4 mb-4">Not up to date</h1>
          </div>
        </div>
        <div class="up_innactive row flex-wrap justify-content-start mx-2 mb-2">
          <div class="col-12">
            <h1 class="text-center text-white mt-4 mb-4">
              No Recent Update / To Read
            </h1>
          </div>
        </div>
        <div class="up_to_date row flex-wrap justify-content-start mx-2 mb-2">
          <div class="col-12">
            <h1 class="text-center text-white mt-4 mb-4">Up to date</h1>
          </div>
        </div>
        <div class="innactive row flex-wrap justify-content-start mx-2 mb-2">
          <div class="col-12">
            <h1 class="text-center text-white mt-4 mb-4">No Recent Update</h1>
          </div>
        </div>
        <div class="finished row flex-wrap justify-content-start mx-2 mb-2">
          <div class="col-12">
            <h1 class="text-center text-white mt-4 mb-4">Finished</h1>
          </div>
        </div>
        <div class="dropped row flex-wrap justify-content-start mx-2 mb-2">
          <div class="col-12">
            <h1 class="text-center text-white mt-4 mb-4">Dropped</h1>
          </div>
        </div>
      </div>
    </div>

    <script>
      var data = <%- JSON.stringify(data) %>;
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/mas.js"></script>
  </body>
</html>
